body {
    background: url("../images/background-8.jpg");
    height: 100%;
}

nav {
    display: flex;
}

h1 {
    margin-left: 20px;
}

ul {
    display: flex;
    width: 30vw;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}

li {
    list-style: none;
}

.calendar-container {
    margin: auto;
    background-color: white;
    width: 80vw;
}

.fc-header-toolbar {
    background-color: transparent;
}
