body {
    background: #a7b8c9;
}

h1 {
    margin-left: 35px;
    margin-top: 35px;
}

.container,form {
    background: white;
    width: 50vw;
    height: 35vw;
    margin: auto;
    padding-top: 1px;
    display: flex;
    flex-direction: column;
}

.registration {
    width: 200px;
    margin: 10px auto;
    height: 30px;
}

button {
    width: 100px;
    margin: 10px auto;
}

nav {
    margin-bottom: 50px;
}

p {
    font-size: 45px;
    margin: 30px auto;
    color: #56687a;
}
