body {
    background: #a7b8c9;
    height: 100%;
}

h1 {
    margin-left: 35px;
    margin-top: 35px;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: #1a252f;
}

.list {
    list-style: none;
    margin-right: 10px;
}

.calendar-container {
    margin: auto;
    background-color: transparent;
    width: 80vw;
}

.fc-view-harness {
    background-color: white;
}

.menu {
    display: flex;
    width: 65vw;
    flex-direction: row;
    align-content: flex-start;
}

.calendar {
    margin: 100px auto;
    font-family: 'Dancing Script', cursive;
    font-size: 90px;
    color: #1a252f;
}

.container {
    background: #a7b8c9;
    width: 50vw;
    height: 35vw;
    margin: 50px auto;
    padding-top: 1px;
    display: flex;
    flex-direction: column;
}

.main-button {
    background: #cae0f4;
    font-family: Purisa;
    width: 200px;
    margin: 0 auto;
}

.registration {
    height: 30px;
}

p {
    margin: 30px auto;
    font-size: 50px;
    color: #56687a;
    font-family: 'Dancing Script', cursive;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.end {
    margin-left: 93rem;
}

.error {
    color: red;
}

a{
    color: #4a2529;
}